Flow/flows.json
[
    {
        "id": "16743fc8e67f6f19",
        "type": "tab",
        "label": "My Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4af35da67292b276",
        "type": "mqtt in",
        "z": "16743fc8e67f6f19",
        "name": "MQTT Temperature",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d3649e7d777927ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "ac695c30325cce77"
            ]
        ]
    },
    {
        "id": "aa08535debfd48ec",
        "type": "mqtt in",
        "z": "16743fc8e67f6f19",
        "name": "MQTT Humid",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d3649e7d777927ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "9bb30c69c4b456cc"
            ]
        ]
    },
    {
        "id": "9bb30c69c4b456cc",
        "type": "ui_gauge",
        "z": "16743fc8e67f6f19",
        "name": "Humidity",
        "group": "65aef35c128023da",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "e528ae6844aecc3d",
        "type": "mqtt out",
        "z": "16743fc8e67f6f19",
        "name": "MQTT Working Mode",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/setmode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d3649e7d777927ed",
        "x": 1120,
        "y": 520,
        "wires": []
    },
    {
        "id": "4d0f852865b25d1e",
        "type": "switch",
        "z": "16743fc8e67f6f19",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "7f12c86b664801b1"
            ],
            [
                "fbc0e4faf406c000"
            ]
        ]
    },
    {
        "id": "7f12c86b664801b1",
        "type": "change",
        "z": "16743fc8e67f6f19",
        "name": "Safety Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "SafetyMode",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "e528ae6844aecc3d"
            ]
        ]
    },
    {
        "id": "fbc0e4faf406c000",
        "type": "change",
        "z": "16743fc8e67f6f19",
        "name": "Working Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WorkingMode",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 600,
        "wires": [
            [
                "e528ae6844aecc3d"
            ]
        ]
    },
    {
        "id": "3f84fd7c8e333b3e",
        "type": "mqtt in",
        "z": "16743fc8e67f6f19",
        "name": "MQTT Warning on SafetyMode",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/warning",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d3649e7d777927ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "2fc7d508f44ae500"
            ]
        ]
    },
    {
        "id": "2fc7d508f44ae500",
        "type": "switch",
        "z": "16743fc8e67f6f19",
        "name": "If true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "2ca9ca0ede243ba0"
            ]
        ]
    },
    {
        "id": "2ca9ca0ede243ba0",
        "type": "change",
        "z": "16743fc8e67f6f19",
        "name": "Set Warning Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "👤 Strangers in your room 👤",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟 🆘 Warning 🆘 📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "1175ee1d06d63499"
            ]
        ]
    },
    {
        "id": "cdac4882fb24eaf1",
        "type": "telegram sender",
        "z": "16743fc8e67f6f19",
        "name": "Bot",
        "bot": "d6c1a409bcfbd74d",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1510,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "46325596a54b1965",
        "type": "function",
        "z": "16743fc8e67f6f19",
        "name": "Setting Messages",
        "func": "var msg1 = { \"topic\": msg.topic, \"payload\": { \"chatId\": 955526463, \"type\": 'message', \"content\": msg.topic + '\\n\\n' + msg.payload + '\\n' + '⏰ ' + msg.mydate + ' ' + msg.mytime} };\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 780,
        "wires": [
            [
                "cdac4882fb24eaf1"
            ]
        ]
    },
    {
        "id": "fb888ebdc8efde86",
        "type": "ui_switch",
        "z": "16743fc8e67f6f19",
        "name": "",
        "label": "Change Mode",
        "tooltip": "",
        "group": "a9c24057acf82c3b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "4d0f852865b25d1e"
            ]
        ]
    },
    {
        "id": "93bcb1b2c78b35b3",
        "type": "telegram receiver",
        "z": "16743fc8e67f6f19",
        "name": "Receive Message",
        "bot": "d6c1a409bcfbd74d",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "12dc4c23ea38b011"
            ],
            []
        ]
    },
    {
        "id": "12dc4c23ea38b011",
        "type": "function",
        "z": "16743fc8e67f6f19",
        "name": "Check condition",
        "func": "var content = msg.payload.content;\nvar id = msg.payload.chatId;\nvar type = msg.payload.type;\n\nif (type == \"message\")\n{\n    if(content == '/safetymode')\n        msg.payload = false;\n    \n    if(content == '/workingmode')\n        msg.payload = true;\n} else{\n    msg.payload = \"not handle\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 520,
        "wires": [
            [
                "fb888ebdc8efde86"
            ]
        ]
    },
    {
        "id": "f81b36635f360f5d",
        "type": "function",
        "z": "16743fc8e67f6f19",
        "name": "check login",
        "func": "var uname = msg.payload.username, pword = msg.payload.password\nvar validLogin = (uname == \"admin\" && pword == \"admin\")\nif (validLogin == true)\n    msg.payload = {\"tab\": \"Home\"}\nelse\n    {\n        msg.payload = {\"tab\": \"Login\"}\n        msg.announce = \"Wrong username or password\"\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1640,
        "wires": [
            [
                "e3072964f60fd971",
                "fcf6319a63888f2a"
            ]
        ]
    },
    {
        "id": "fcf6319a63888f2a",
        "type": "ui_ui_control",
        "z": "16743fc8e67f6f19",
        "name": "",
        "events": "change",
        "x": 520,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "e3072964f60fd971",
        "type": "ui_text",
        "z": "16743fc8e67f6f19",
        "group": "2836a3d0063f0e60",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.announce}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1740,
        "wires": []
    },
    {
        "id": "c27690a3e9de1b2f",
        "type": "ui_form",
        "z": "16743fc8e67f6f19",
        "name": "",
        "label": "",
        "group": "2836a3d0063f0e60",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "f81b36635f360f5d"
            ]
        ]
    },
    {
        "id": "ab0c970921d8306d",
        "type": "ui_button",
        "z": "16743fc8e67f6f19",
        "name": "",
        "group": "7ec464a6239e32f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "logout",
        "payload": "logout",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 1280,
        "wires": [
            [
                "3f67a3788428557f"
            ]
        ]
    },
    {
        "id": "8071fd4970fcdd0e",
        "type": "ui_ui_control",
        "z": "16743fc8e67f6f19",
        "name": "",
        "events": "change",
        "x": 1130,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b2220bdb746a10a9",
        "type": "ui_toast",
        "z": "16743fc8e67f6f19",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1350,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c4e7fadcaf892729",
        "type": "change",
        "z": "16743fc8e67f6f19",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Successfully logout",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Logout",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1320,
        "wires": [
            [
                "b2220bdb746a10a9"
            ]
        ]
    },
    {
        "id": "3f67a3788428557f",
        "type": "function",
        "z": "16743fc8e67f6f19",
        "name": "check logout",
        "func": "if (msg.payload == \"logout\")\n{\n    msg.payload = {\"tab\": \"Login\"}\n    msg.announce = \"Successfully logout\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1280,
        "wires": [
            [
                "8071fd4970fcdd0e",
                "c4e7fadcaf892729"
            ]
        ]
    },
    {
        "id": "276f86d87d1ca71f",
        "type": "inject",
        "z": "16743fc8e67f6f19",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "169d4a35cbb11282"
            ]
        ]
    },
    {
        "id": "169d4a35cbb11282",
        "type": "ui_digital_clock",
        "z": "16743fc8e67f6f19",
        "name": "",
        "group": "7ec464a6239e32f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "x": 1130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1175ee1d06d63499",
        "type": "simpletime",
        "z": "16743fc8e67f6f19",
        "name": "Time Sync",
        "mydate": true,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "46325596a54b1965"
            ]
        ]
    },
    {
        "id": "c701b0d88732a215",
        "type": "mqtt in",
        "z": "16743fc8e67f6f19",
        "name": "Get Current Mode from ESP32",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/currentmode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d3649e7d777927ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 880,
        "wires": [
            [
                "f570064a601b75c8"
            ]
        ]
    },
    {
        "id": "f570064a601b75c8",
        "type": "switch",
        "z": "16743fc8e67f6f19",
        "name": "Check current mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 880,
        "wires": [
            [
                "a7b76cc380ef0330"
            ],
            [
                "89951749e7826e6f"
            ]
        ]
    },
    {
        "id": "a7b76cc380ef0330",
        "type": "change",
        "z": "16743fc8e67f6f19",
        "name": "Mode = \"WorkingMode\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚙️ Mode: WorkingMode 📊",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟✅Change mode sucessfully ✅📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 840,
        "wires": [
            [
                "1175ee1d06d63499"
            ]
        ]
    },
    {
        "id": "89951749e7826e6f",
        "type": "change",
        "z": "16743fc8e67f6f19",
        "name": "Mode = \"SafetyMode\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚙️ Mode: SafetyMode 🔐",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟✅Change mode sucessfully ✅📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 920,
        "wires": [
            [
                "1175ee1d06d63499"
            ]
        ]
    },
    {
        "id": "ac695c30325cce77",
        "type": "ui_chart",
        "z": "16743fc8e67f6f19",
        "name": "Temperature",
        "group": "65aef35c128023da",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "637ce7c78832e528",
        "type": "ui_template",
        "z": "16743fc8e67f6f19",
        "group": "1b429f50303e61de",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "7",
        "format": "<ul>\n    <li ng-repeat=\"x in msg.payload\"\n        <font color=\"red\">{{x.topic}}</font>\n        <ul>\n            <li>{{x.payload}}</li>\n        </ul>\n    </li>\n</ul>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "480d1f18137937f4",
        "type": "http request",
        "z": "16743fc8e67f6f19",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2239002/feeds.json?api_key=20EMGP6E0ZMPG8N1&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 1520,
        "wires": [
            [
                "83ce0cdfb2956245"
            ]
        ]
    },
    {
        "id": "3963ffac649ab034",
        "type": "inject",
        "z": "16743fc8e67f6f19",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 450,
        "y": 1520,
        "wires": [
            [
                "480d1f18137937f4"
            ]
        ]
    },
    {
        "id": "83ce0cdfb2956245",
        "type": "function",
        "z": "16743fc8e67f6f19",
        "name": "function 5",
        "func": "var logList = flow.get(\"logList\")\nvar topic1 = \"\", payload1 = \"\"\nvar topic2 = \"\", payload2 = \"\"\nvar topic3 = \"\", payload3 = \"\"\n\nif (msg.payload.feeds[0].field1 != flow.get(\"prevMode\"))\n{\n    topic1 = \"Mode\"\n    payload1 = msg.payload.feeds[0].field1\n    flow.set(\"prevMode\", payload1)\n}\n\n\nif (msg.payload.feeds[0].field2 != flow.get(\"prevTemperature\")) \n{\n    topic2 = \"Temperature\"\n    payload2 = msg.payload.feeds[0].field2\n    flow.set(\"prevTemperature\", payload2)\n}\n\n\nif (msg.payload.feeds[0].field3 != flow.get(\"prevHumid\")) \n{\n    topic3 = \"Humid\"\n    payload3 = msg.payload.feeds[0].field3\n    flow.set(\"prevHumid\", payload3)\n}\n\nif (topic1 != \"\")\n{\n    msg = {}\n    msg.topic = topic1\n    msg.payload = payload1\n    logList.push(msg)\n}\n\nif (topic2 != \"\") \n{\n    msg = {}\n    msg.topic = topic2\n    msg.payload = payload2\n    logList.push(msg)\n}\n\nif (topic3 != \"\") \n{\n    msg = {}\n    msg.topic = topic3\n    msg.payload = payload3\n    logList.push(msg)\n}\n\nif (logList.length > 10) \n{\n    logList.shift();\n    logList.length = 10;\n}\n\nflow.set(\"logList\", logList)\nmsg = {}\nmsg.payload = logList\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1600,
        "wires": [
            [
                "0a4aae27fee37e11",
                "637ce7c78832e528"
            ]
        ]
    },
    {
        "id": "17ae0b7c8a5ceaa7",
        "type": "inject",
        "z": "16743fc8e67f6f19",
        "name": "set entry id",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 350,
        "y": 1400,
        "wires": [
            [
                "99b945e650c33ae9"
            ]
        ]
    },
    {
        "id": "99b945e650c33ae9",
        "type": "function",
        "z": "16743fc8e67f6f19",
        "name": "function 6",
        "func": "flow.set(\"prevMode\", -1)\nflow.set(\"prevTemperature\", -1)\nflow.set(\"prevHumid\", -1)\nflow.set(\"logList\", [])",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "0a4aae27fee37e11",
        "type": "debug",
        "z": "16743fc8e67f6f19",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1620,
        "wires": []
    },
    {
        "id": "c288c5305957be6e",
        "type": "function",
        "z": "16743fc8e67f6f19",
        "name": "function 7",
        "func": "var dbl = flow.get(\"dbl\") || []\n\nif(msg.topic != \"\")\n    dbl.push(msg);\nif(dbl.length > 10){\n    dbl.shift();\n    dbl.length = 10;\n}\n\nflow.set(\"dbl\", dbl);\nmsg = {};\nmsg.payload = dbl;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "d831b967d586e3d9",
        "type": "debug",
        "z": "16743fc8e67f6f19",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1500,
        "wires": []
    },
    {
        "id": "d3649e7d777927ed",
        "type": "mqtt-broker",
        "name": "Mqtt Server",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65aef35c128023da",
        "type": "ui_group",
        "name": "Humidity & Temperature",
        "tab": "ddeb8410e4bcb88a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6c1a409bcfbd74d",
        "type": "telegram bot",
        "botname": "Wokwi Notification",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "a9c24057acf82c3b",
        "type": "ui_group",
        "name": "Mode",
        "tab": "ddeb8410e4bcb88a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2836a3d0063f0e60",
        "type": "ui_group",
        "name": "Login",
        "tab": "02bb2b4a83d72856",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ec464a6239e32f8",
        "type": "ui_group",
        "name": "Information",
        "tab": "ddeb8410e4bcb88a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b429f50303e61de",
        "type": "ui_group",
        "name": "Logs",
        "tab": "ddeb8410e4bcb88a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ddeb8410e4bcb88a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "02bb2b4a83d72856",
        "type": "ui_tab",
        "name": "Login",
        "icon": "login",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]