Flow/flows.json
[
    {
        "id": "49e0e293ca37072e",
        "type": "tab",
        "label": "My Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "13b728efebbee5d3",
        "type": "mqtt in",
        "z": "49e0e293ca37072e",
        "name": "MQTT Temperature",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cc39a9b868ee45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "1076fea12da620cf"
            ]
        ]
    },
    {
        "id": "6f13bfc797941c25",
        "type": "mqtt in",
        "z": "49e0e293ca37072e",
        "name": "MQTT Humid",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cc39a9b868ee45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "b4f15a01766b0ba3"
            ]
        ]
    },
    {
        "id": "b4f15a01766b0ba3",
        "type": "ui_gauge",
        "z": "49e0e293ca37072e",
        "name": "Humidity",
        "group": "db8b4f8453e6cbf7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "3345e4c37e9a985c",
        "type": "mqtt out",
        "z": "49e0e293ca37072e",
        "name": "MQTT Working Mode",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/setmode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a6cc39a9b868ee45",
        "x": 1120,
        "y": 520,
        "wires": []
    },
    {
        "id": "5df62f76076cf30d",
        "type": "switch",
        "z": "49e0e293ca37072e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "f80d323a10014eef"
            ],
            [
                "0f9ed0cb4554eb58"
            ]
        ]
    },
    {
        "id": "f80d323a10014eef",
        "type": "change",
        "z": "49e0e293ca37072e",
        "name": "Safety Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "SafetyMode",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "3345e4c37e9a985c"
            ]
        ]
    },
    {
        "id": "0f9ed0cb4554eb58",
        "type": "change",
        "z": "49e0e293ca37072e",
        "name": "Working Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WorkingMode",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 600,
        "wires": [
            [
                "3345e4c37e9a985c"
            ]
        ]
    },
    {
        "id": "2b7186ec286efc9a",
        "type": "mqtt in",
        "z": "49e0e293ca37072e",
        "name": "MQTT Warning on SafetyMode",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/warning",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a6cc39a9b868ee45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "a9a153827106e7ed"
            ]
        ]
    },
    {
        "id": "a9a153827106e7ed",
        "type": "switch",
        "z": "49e0e293ca37072e",
        "name": "If true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "bd0da934f1e8a63a"
            ]
        ]
    },
    {
        "id": "bd0da934f1e8a63a",
        "type": "change",
        "z": "49e0e293ca37072e",
        "name": "Set Warning Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "👤 Strangers in your room 👤",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟 🆘 Warning 🆘 📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "ce26635b147e26c9"
            ]
        ]
    },
    {
        "id": "5720f2e8a8242b3e",
        "type": "telegram sender",
        "z": "49e0e293ca37072e",
        "name": "Bot",
        "bot": "8a42fc0bef5a96af",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1510,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ae2c2aa43b700b2c",
        "type": "function",
        "z": "49e0e293ca37072e",
        "name": "Setting Messages",
        "func": "var msg1 = { \"topic\": msg.topic, \"payload\": { \"chatId\": 955526463, \"type\": 'message', \"content\": msg.topic + '\\n\\n' + msg.payload + '\\n' + '⏰ ' + msg.mydate + ' ' + msg.mytime} };\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 780,
        "wires": [
            [
                "5720f2e8a8242b3e"
            ]
        ]
    },
    {
        "id": "633faf0f7b146419",
        "type": "ui_switch",
        "z": "49e0e293ca37072e",
        "name": "",
        "label": "Change Mode",
        "tooltip": "",
        "group": "af55851c0277c2c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "5df62f76076cf30d"
            ]
        ]
    },
    {
        "id": "3f7eb4469557e1f9",
        "type": "telegram receiver",
        "z": "49e0e293ca37072e",
        "name": "Receive Message",
        "bot": "8a42fc0bef5a96af",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "a30978b199f8f961"
            ],
            []
        ]
    },
    {
        "id": "a30978b199f8f961",
        "type": "function",
        "z": "49e0e293ca37072e",
        "name": "Check condition",
        "func": "var content = msg.payload.content;\nvar id = msg.payload.chatId;\nvar type = msg.payload.type;\n\nif (type == \"message\")\n{\n    if(content == '/safetymode')\n        msg.payload = false;\n    \n    if(content == '/workingmode')\n        msg.payload = true;\n} else{\n    msg.payload = \"not handle\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 520,
        "wires": [
            [
                "633faf0f7b146419"
            ]
        ]
    },
    {
        "id": "90f1f4997ebec249",
        "type": "function",
        "z": "49e0e293ca37072e",
        "name": "check login",
        "func": "var uname = msg.payload.username, pword = msg.payload.password\nvar validLogin = (uname == \"admin\" && pword == \"admin\")\nif (validLogin == true)\n    msg.payload = {\"tab\": \"Home\"}\nelse\n    {\n        msg.payload = {\"tab\": \"Login\"}\n        msg.announce = \"Wrong username or password\"\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1640,
        "wires": [
            [
                "349654607f1c3aa0",
                "c96aec8991d61306"
            ]
        ]
    },
    {
        "id": "c96aec8991d61306",
        "type": "ui_ui_control",
        "z": "49e0e293ca37072e",
        "name": "",
        "events": "change",
        "x": 520,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "349654607f1c3aa0",
        "type": "ui_text",
        "z": "49e0e293ca37072e",
        "group": "86a0e080eb4d277b",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.announce}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1740,
        "wires": []
    },
    {
        "id": "8761e429bea4b556",
        "type": "ui_form",
        "z": "49e0e293ca37072e",
        "name": "",
        "label": "",
        "group": "86a0e080eb4d277b",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "90f1f4997ebec249"
            ]
        ]
    },
    {
        "id": "251e251346f1c24f",
        "type": "ui_button",
        "z": "49e0e293ca37072e",
        "name": "",
        "group": "f3bbc18ff279517d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "logout",
        "payload": "logout",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 1280,
        "wires": [
            [
                "458ba4356c547c95"
            ]
        ]
    },
    {
        "id": "935b16c87f99e19d",
        "type": "ui_ui_control",
        "z": "49e0e293ca37072e",
        "name": "",
        "events": "change",
        "x": 1130,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "f49d6a1536d3b7d9",
        "type": "ui_toast",
        "z": "49e0e293ca37072e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1350,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f8466f0944227c0a",
        "type": "change",
        "z": "49e0e293ca37072e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Successfully logout",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Logout",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1320,
        "wires": [
            [
                "f49d6a1536d3b7d9"
            ]
        ]
    },
    {
        "id": "458ba4356c547c95",
        "type": "function",
        "z": "49e0e293ca37072e",
        "name": "check logout",
        "func": "if (msg.payload == \"logout\")\n{\n    msg.payload = {\"tab\": \"Login\"}\n    msg.announce = \"Successfully logout\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1280,
        "wires": [
            [
                "935b16c87f99e19d",
                "f8466f0944227c0a"
            ]
        ]
    },
    {
        "id": "5b2e4a0ce9f0be11",
        "type": "inject",
        "z": "49e0e293ca37072e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "cd7e43c3cb72f387"
            ]
        ]
    },
    {
        "id": "cd7e43c3cb72f387",
        "type": "ui_digital_clock",
        "z": "49e0e293ca37072e",
        "name": "",
        "group": "f3bbc18ff279517d",
        "order": 2,
        "width": 0,
        "height": 0,
        "x": 1130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ce26635b147e26c9",
        "type": "simpletime",
        "z": "49e0e293ca37072e",
        "name": "Time Sync",
        "mydate": true,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "ae2c2aa43b700b2c"
            ]
        ]
    },
    {
        "id": "6eea1884a0c4906e",
        "type": "mqtt in",
        "z": "49e0e293ca37072e",
        "name": "Get Current Mode from ESP32",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/currentmode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cc39a9b868ee45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 880,
        "wires": [
            [
                "59a44390083c29cd"
            ]
        ]
    },
    {
        "id": "59a44390083c29cd",
        "type": "switch",
        "z": "49e0e293ca37072e",
        "name": "Check current mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 880,
        "wires": [
            [
                "f62ebd099ffe3dcc"
            ],
            [
                "c3262bfc9a15eff0"
            ]
        ]
    },
    {
        "id": "f62ebd099ffe3dcc",
        "type": "change",
        "z": "49e0e293ca37072e",
        "name": "Mode = \"WorkingMode\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚙️ Mode: WorkingMode 📊",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟✅Change mode sucessfully ✅📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 840,
        "wires": [
            [
                "ce26635b147e26c9"
            ]
        ]
    },
    {
        "id": "c3262bfc9a15eff0",
        "type": "change",
        "z": "49e0e293ca37072e",
        "name": "Mode = \"SafetyMode\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚙️ Mode: SafetyMode 🔐",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟✅Change mode sucessfully ✅📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 920,
        "wires": [
            [
                "ce26635b147e26c9"
            ]
        ]
    },
    {
        "id": "1076fea12da620cf",
        "type": "ui_chart",
        "z": "49e0e293ca37072e",
        "name": "Temperature",
        "group": "db8b4f8453e6cbf7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d7aa5733fd13871d",
        "type": "ui_template",
        "z": "49e0e293ca37072e",
        "group": "dd19f504fdd19850",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<ul>\n    <li ng-repeat=\"x in msg.payload\"\n        <font color=\"red\">{{x.topic}}</font>\n        <ul>\n            <li>{{x.payload}}</li>\n        </ul>\n    </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "1e26c891e5d3e979",
        "type": "http request",
        "z": "49e0e293ca37072e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2239002/feeds.json?api_key=20EMGP6E0ZMPG8N1&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 1520,
        "wires": [
            [
                "57e32bb896fcd170",
                "d3c289c9b51aa0eb"
            ]
        ]
    },
    {
        "id": "6f98ddbaf64069d0",
        "type": "inject",
        "z": "49e0e293ca37072e",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "x": 450,
        "y": 1520,
        "wires": [
            [
                "1e26c891e5d3e979"
            ]
        ]
    },
    {
        "id": "57e32bb896fcd170",
        "type": "debug",
        "z": "49e0e293ca37072e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d3c289c9b51aa0eb",
        "type": "function",
        "z": "49e0e293ca37072e",
        "name": "function 5",
        "func": "var EId = flow.get(\"EId\");\nvar last_entry = msg.payload.channel.last_entry_id;\n\nif (EId != last_entry)\n{\n    flow.set(\"EId\", last_entry);\n    var topic = null;\n    var payload = null;\n\n    if (msg.payload.feeds[0].field1 != null)\n    {\n        topic = \"Mode\";\n        payload = msg.payload.feeds[0].field1\n    }\n\n    if (msg.payload.feeds[0].field2 != null) {\n        topic = \"Temperature\";\n        payload = msg.payload.feeds[0].field2\n    }\n\n    if (msg.payload.feeds[0].field3 != null) {\n        topic = \"Humid\";\n        payload = msg.payload.feeds[0].field3\n    }\n\n    msg.topic = topic;\n    msg.payload = payload;\n} else {\n    msg = null\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1600,
        "wires": [
            [
                "61de7cd964fcce9b",
                "d7aa5733fd13871d"
            ]
        ]
    },
    {
        "id": "5c3b1ba8ae2490ec",
        "type": "inject",
        "z": "49e0e293ca37072e",
        "name": "set entry id",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 350,
        "y": 1400,
        "wires": [
            [
                "7984a74b3333178d"
            ]
        ]
    },
    {
        "id": "7984a74b3333178d",
        "type": "function",
        "z": "49e0e293ca37072e",
        "name": "function 6",
        "func": "flow.set(\"EId\", 0);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "61de7cd964fcce9b",
        "type": "debug",
        "z": "49e0e293ca37072e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1620,
        "wires": []
    },
    {
        "id": "a6cc39a9b868ee45",
        "type": "mqtt-broker",
        "name": "Mqtt Server",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "db8b4f8453e6cbf7",
        "type": "ui_group",
        "name": "Humidity & Temperature",
        "tab": "26911be761b0316a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a42fc0bef5a96af",
        "type": "telegram bot",
        "botname": "Wokwi Notification",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "af55851c0277c2c9",
        "type": "ui_group",
        "name": "Mode",
        "tab": "26911be761b0316a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86a0e080eb4d277b",
        "type": "ui_group",
        "name": "Login",
        "tab": "63abcdbd125ad4d5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3bbc18ff279517d",
        "type": "ui_group",
        "name": "Information",
        "tab": "26911be761b0316a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd19f504fdd19850",
        "type": "ui_group",
        "name": "Logs",
        "tab": "26911be761b0316a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "26911be761b0316a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "63abcdbd125ad4d5",
        "type": "ui_tab",
        "name": "Login",
        "icon": "login",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]