Flow/flows.json
[
    {
        "id": "2c8cd484086658f3",
        "type": "tab",
        "label": "My Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc189af15d2bdb51",
        "type": "mqtt in",
        "z": "2c8cd484086658f3",
        "name": "MQTT Temperature",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d4e2ba7915da887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "ced446541a095fd6"
            ]
        ]
    },
    {
        "id": "67ae3015b6623f7f",
        "type": "mqtt in",
        "z": "2c8cd484086658f3",
        "name": "MQTT Humid",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d4e2ba7915da887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "18f20acc342f3dda"
            ]
        ]
    },
    {
        "id": "18f20acc342f3dda",
        "type": "ui_gauge",
        "z": "2c8cd484086658f3",
        "name": "Humidity",
        "group": "2205d2cc8f73d236",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "e8bb1df4ed91b05c",
        "type": "mqtt out",
        "z": "2c8cd484086658f3",
        "name": "MQTT Working Mode",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/setmode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d4e2ba7915da887",
        "x": 1120,
        "y": 520,
        "wires": []
    },
    {
        "id": "50b27b16f4808e72",
        "type": "switch",
        "z": "2c8cd484086658f3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "300b4729f9351958"
            ],
            [
                "55e1ead0ea533dad"
            ]
        ]
    },
    {
        "id": "300b4729f9351958",
        "type": "change",
        "z": "2c8cd484086658f3",
        "name": "Safety Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "SafetyMode",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "e8bb1df4ed91b05c"
            ]
        ]
    },
    {
        "id": "55e1ead0ea533dad",
        "type": "change",
        "z": "2c8cd484086658f3",
        "name": "Working Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WorkingMode",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 600,
        "wires": [
            [
                "e8bb1df4ed91b05c"
            ]
        ]
    },
    {
        "id": "99b0ee58314add77",
        "type": "mqtt in",
        "z": "2c8cd484086658f3",
        "name": "MQTT Warning on SafetyMode",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/warning",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0d4e2ba7915da887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "04250c8ec2bf8e71"
            ]
        ]
    },
    {
        "id": "04250c8ec2bf8e71",
        "type": "switch",
        "z": "2c8cd484086658f3",
        "name": "If true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "48a221a934b5d8f7"
            ]
        ]
    },
    {
        "id": "48a221a934b5d8f7",
        "type": "change",
        "z": "2c8cd484086658f3",
        "name": "Set Warning Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "👤 Strangers in your room 👤",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟 🆘 Warning 🆘 📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "aed17a799a98eb18"
            ]
        ]
    },
    {
        "id": "74b9e574554dcec4",
        "type": "telegram sender",
        "z": "2c8cd484086658f3",
        "name": "Bot",
        "bot": "11dbce65f1976a18",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1510,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9a649c1f3b002269",
        "type": "function",
        "z": "2c8cd484086658f3",
        "name": "Setting Messages",
        "func": "var msg1 = { \"topic\": msg.topic, \"payload\": { \"chatId\": 955526463, \"type\": 'message', \"content\": msg.topic + '\\n\\n' + msg.payload + '\\n' + '⏰ ' + msg.mydate + ' ' + msg.mytime} };\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 780,
        "wires": [
            [
                "74b9e574554dcec4"
            ]
        ]
    },
    {
        "id": "8bf62eded2418d60",
        "type": "ui_switch",
        "z": "2c8cd484086658f3",
        "name": "",
        "label": "Change Mode",
        "tooltip": "",
        "group": "ceabcce54b18cb30",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "50b27b16f4808e72"
            ]
        ]
    },
    {
        "id": "8f13088a94847319",
        "type": "telegram receiver",
        "z": "2c8cd484086658f3",
        "name": "Receive Message",
        "bot": "11dbce65f1976a18",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "d54fcd9254281d83"
            ],
            []
        ]
    },
    {
        "id": "d54fcd9254281d83",
        "type": "function",
        "z": "2c8cd484086658f3",
        "name": "Check condition",
        "func": "var content = msg.payload.content;\nvar id = msg.payload.chatId;\nvar type = msg.payload.type;\n\nif (type == \"message\")\n{\n    if(content == '/safetymode')\n        msg.payload = false;\n    \n    if(content == '/workingmode')\n        msg.payload = true;\n} else{\n    msg.payload = \"not handle\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 520,
        "wires": [
            [
                "8bf62eded2418d60"
            ]
        ]
    },
    {
        "id": "9f0ab237bb736804",
        "type": "function",
        "z": "2c8cd484086658f3",
        "name": "check login",
        "func": "var uname = msg.payload.username, pword = msg.payload.password\nvar validLogin = (uname == \"admin\" && pword == \"admin\")\nif (validLogin == true)\n    msg.payload = {\"tab\": \"Home\"}\nelse\n    {\n        msg.payload = {\"tab\": \"Login\"}\n        msg.announce = \"Wrong username or password\"\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1640,
        "wires": [
            [
                "f204f6c5a32a5224",
                "d3942792b3260699"
            ]
        ]
    },
    {
        "id": "d3942792b3260699",
        "type": "ui_ui_control",
        "z": "2c8cd484086658f3",
        "name": "",
        "events": "change",
        "x": 520,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "f204f6c5a32a5224",
        "type": "ui_text",
        "z": "2c8cd484086658f3",
        "group": "b7e42c0d08c25a27",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.announce}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1740,
        "wires": []
    },
    {
        "id": "cdaf92e44fe2b84b",
        "type": "ui_form",
        "z": "2c8cd484086658f3",
        "name": "",
        "label": "",
        "group": "b7e42c0d08c25a27",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "9f0ab237bb736804"
            ]
        ]
    },
    {
        "id": "6700a0c6b8c39592",
        "type": "ui_button",
        "z": "2c8cd484086658f3",
        "name": "",
        "group": "ea7efcd9b4633941",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "logout",
        "payload": "logout",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 1280,
        "wires": [
            [
                "243717f99ba7ef3e"
            ]
        ]
    },
    {
        "id": "1c6ce30ec5017ceb",
        "type": "ui_ui_control",
        "z": "2c8cd484086658f3",
        "name": "",
        "events": "change",
        "x": 1130,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "611b40a4dfb0d659",
        "type": "ui_toast",
        "z": "2c8cd484086658f3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1350,
        "y": 1340,
        "wires": []
    },
    {
        "id": "afcf3f09722186a6",
        "type": "change",
        "z": "2c8cd484086658f3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Successfully logout",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Logout",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1320,
        "wires": [
            [
                "611b40a4dfb0d659"
            ]
        ]
    },
    {
        "id": "243717f99ba7ef3e",
        "type": "function",
        "z": "2c8cd484086658f3",
        "name": "check logout",
        "func": "if (msg.payload == \"logout\")\n{\n    msg.payload = {\"tab\": \"Login\"}\n    msg.announce = \"Successfully logout\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1280,
        "wires": [
            [
                "1c6ce30ec5017ceb",
                "afcf3f09722186a6"
            ]
        ]
    },
    {
        "id": "654a96573e898516",
        "type": "inject",
        "z": "2c8cd484086658f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "83ddfb19edc19dc3"
            ]
        ]
    },
    {
        "id": "83ddfb19edc19dc3",
        "type": "ui_digital_clock",
        "z": "2c8cd484086658f3",
        "name": "",
        "group": "ea7efcd9b4633941",
        "order": 2,
        "width": 0,
        "height": 0,
        "x": 1130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "aed17a799a98eb18",
        "type": "simpletime",
        "z": "2c8cd484086658f3",
        "name": "Time Sync",
        "mydate": true,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "9a649c1f3b002269"
            ]
        ]
    },
    {
        "id": "37d610b6b7f124df",
        "type": "mqtt in",
        "z": "2c8cd484086658f3",
        "name": "Get Current Mode from ESP32",
        "topic": "/GDrpD2J3jxvzQEy7vGOn/currentmode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0d4e2ba7915da887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 880,
        "wires": [
            [
                "540184d01b2df73a"
            ]
        ]
    },
    {
        "id": "540184d01b2df73a",
        "type": "switch",
        "z": "2c8cd484086658f3",
        "name": "Check current mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 880,
        "wires": [
            [
                "ed566f510659eb41"
            ],
            [
                "7b3bb3e08819b0a5"
            ]
        ]
    },
    {
        "id": "ed566f510659eb41",
        "type": "change",
        "z": "2c8cd484086658f3",
        "name": "Mode = \"WorkingMode\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚙️ Mode: WorkingMode 📊",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟✅Change mode sucessfully ✅📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 840,
        "wires": [
            [
                "aed17a799a98eb18"
            ]
        ]
    },
    {
        "id": "7b3bb3e08819b0a5",
        "type": "change",
        "z": "2c8cd484086658f3",
        "name": "Mode = \"SafetyMode\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚙️ Mode: SafetyMode 🔐",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "📟✅Change mode sucessfully ✅📟",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 920,
        "wires": [
            [
                "aed17a799a98eb18"
            ]
        ]
    },
    {
        "id": "ced446541a095fd6",
        "type": "ui_chart",
        "z": "2c8cd484086658f3",
        "name": "Temperature",
        "group": "2205d2cc8f73d236",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0d4e2ba7915da887",
        "type": "mqtt-broker",
        "name": "Mqtt Server",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2205d2cc8f73d236",
        "type": "ui_group",
        "name": "Humidity & Temperature",
        "tab": "79eedcfcb4ceba56",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11dbce65f1976a18",
        "type": "telegram bot",
        "botname": "Wokwi Notification",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "ceabcce54b18cb30",
        "type": "ui_group",
        "name": "Mode",
        "tab": "79eedcfcb4ceba56",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7e42c0d08c25a27",
        "type": "ui_group",
        "name": "Login",
        "tab": "e1d54bd939410762",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea7efcd9b4633941",
        "type": "ui_group",
        "name": "Information",
        "tab": "79eedcfcb4ceba56",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79eedcfcb4ceba56",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e1d54bd939410762",
        "type": "ui_tab",
        "name": "Login",
        "icon": "login",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]